/*paddings*/
.pt-10{padding-top: 10px !important;}
.pt-15{padding-top: 15px !important;}
.pt-20{padding-top: 20px !important;}
.pt-30{padding-top: 30px !important;}
.pt-40{padding-top: 40px !important;}

.pb-10{padding-bottom: 10px !important;}
.pb-15{padding-bottom: 15px !important;}
.pb-20{padding-bottom: 20px !important;}
.pb-30{padding-bottom: 30px !important;}
.pb-40{padding-bottom: 40px !important;}

.pl-10{padding-left: 10px !important;}
.pl-15{padding-left: 15px !important;}
.pl-20{padding-left: 20px !important;}
.pl-30{padding-left: 30px !important;}
.pl-40{padding-left: 40px !important;}
.pl-0{padding-left: 0px !important;}

.pr-10{padding-right: 10px !important;}
.pr-15{padding-right: 15px !important;}
.pr-20{padding-right: 20px !important;}
.pr-0{padding-right: 0px !important;}

/*margins*/
.mt-0{margin-top: 0px !important;}
.mt-10{margin-top: 10px !important;}
.mt-15{margin-top: 15px !important;}
.mt-20{margin-top: 20px !important;}
.mt-30{margin-top: 30px !important;}
.mt-40{margin-top: 40px !important;}

.mb-10{margin-bottom: 10px !important;}
.mb-15{margin-bottom: 15px !important;}
.mb-20{margin-bottom: 20px !important;}
.mb-30{margin-bottom: 30px !important;}
.mb-40{margin-bottom: 40px !important;}

.ml-10{margin-left: 10px !important;}
.ml-15{margin-left: 15px !important;}
.ml-20{margin-left: 20px !important;}
.ml-30{margin-left: 30px !important;}
.ml-40{margin-left: 40px !important;}

.mr-10{margin-right: 10px !important;}
.mr-15{margin-right: 15px !important;}
.mr-20{margin-right: 20px !important;}
.mr-30{margin-right: 30px !important;}
.mr-40{margin-right: 40px !important;}

/*fonts*/
.txt-brown{color: #833333;}
.txt-grey{color: #7b7a9a;}
.txt-italic{font-style: italic;}


/*header styles*/
.auth-row li a{color: #000;border-radius: 0px;padding-top: 5px !important;padding-bottom: 5px !important;}
.auth-row li.divider{border-right: 1px solid #d3d3d3;}
.searchbar-col input, .searchbar-col .form-control,.select-language select{border: 2px solid #d3d3d3;}
.searchbar-col input:focus,.select-language select:focus{border: 2px solid #d3d3d3;box-shadow: none;}
.searchbar-col .glyphicon{color: #d3d3d3;}
.searchbar-col input::-webkit-input-placeholder{color: #d3d3d3;font-style: italic;}
.searchbar-col input::-moz-placeholder{color: #d3d3d3;font-style: italic;}
.searchbar-col input:-ms-input-placeholder{color: #d3d3d3;font-style: italic;}
.searchbar-col input:-moz-placeholder{color: #d3d3d3;font-style: italic;}
.view-mycart-btn{border: 2px solid #000;padding: 15px;color: #000;}
.view-mycart-btn .glyphicon{color: #fc3ea9;font-size: 18px;}
.view-mycart-btn:hover{text-decoration: none;color: #000;}
.top-menubar{border-top: 1px solid #000;border-bottom: 1px solid #000;text-align: center;}
.top-menubar a{color: #000;}
.top-menubar a:hover{border-radius: 0;background-color: #833333 !important;color: #fff;}
.benefits-bar li{border-right: 1px solid #000;}
.benefits-bar li.last-li{border: none;}
.shopping-bag-icon{color: #fff;background-color: #000; padding: 2px 10px 0px;}
.select-language select {color: #d3d3d3;font-style: italic;}
.select-language select option{color: #000;font-style: normal !important;height: 100px;}

/*homepage styles*/
#homepage-carousel .carousel-inner .item{max-height: 600px !important;}
#homepage-carousel .carousel-control.left, .carousel-control.right{background-image: none;}
#homepage-carousel .glyphicon-chevron-left:before, #homepage-carousel .glyphicon-chevron-right:before{background-color: #000;padding:10px 14px;border-radius: 100%;font-size: 15px;}
#homepage-carousel .carousel-caption h1{font-size: 75px;font-weight: 600;text-shadow:none;}
#homepage-carousel .carousel-caption{top: 150px;}
#homepage-carousel .carousel-caption span{font-size: 45px;}
#homepage-carousel .carousel-caption a{padding:15px 20px;border: 2px solid #fff;margin-right: 10px;color: #fff;background-color: rgba(0,0,0,0.6);}
.collections-img{max-height: 600px;overflow: hidden;}
.collections-img .vertical-img img{max-width: 100%}
.collections-img .horizontal-img-top{max-height: 300px;overflow: hidden;}
.collections-img .horizontal-img-top img{max-width: 100%;}
.collections-img .horizontal-img-bottom{min-height: 200px !important;overflow: hidden;}
.collections-img .horizontal-img-bottom img{width: 100%;height: 100%}
.our-bestsellers-header .title span, .highlights-header .title span{background-color: #fff;font-size: 20px;padding: 0px 15px;}
.our-bestsellers-content .img-cont, .highlights-content .img-cont{max-height: 250px;overflow: hidden;position: relative;}
.our-bestsellers-content .img-cont img, .highlights-content .img-cont img{width: 100%;height: 100%;border: 1px solid #d3d3d3;}
.our-bestsellers-content .img-caption-center{position: absolute;top: 15%;background-color: rgba(255,255,255,0.7);left: 15%;right: 15%;min-height: 180px;}
.our-bestsellers-content .img-caption-center:hover{width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;padding: 70px 50px !important;}
.our-bestsellers-content .img-caption-center a{color: #000;}
.our-bestsellers-content .img-caption-center a:hover{text-decoration: none;}
.our-bestsellers-content .img-caption-center.hovered a{border: 1px solid #fff;background-color: #0d0d0d;padding: 10px 30px;color: #fff;}
.highlights-content .img-caption-bottom{position: absolute;bottom: 0;background-color: rgba(255,255,255,0.9);width: 100%;right: 0;left: 0;padding-left: 20px!important;padding-right: 20px!important;}
.highlights-content .img-caption-bottom img{max-height: 35px;max-width: 35px;border: none;}
.highlights-content .img-caption-bottom .brand{margin-top: 5px;}
.highlights-content .img-caption-bottom .hidden{display: none;}
.highlights-content .cart-btn{position: absolute;top: 40px;left: 25%;right: 25%;}
.highlights-content .cart-btn a{padding: 10px 15px;background-color: rgba(0,0,0,0.8);border: 1px solid #fff;color: #fff;text-decoration: none;}
.footer .header{position: relative;}
.our-bestsellers-header hr, .highlights-header hr{display: block;height: 1px;border: 0;padding: 0;background-color: #000;margin-top: -15px}
.footer .header hr{display: block;height: 1px;border: 0;padding: 0;background-color: #000;}



.homepage-carousel2 .product-category{padding: 15px !important;}
.homepage-carousel2 .product-category img{width: 100%; max-height: 300px;border: 1px solid #d3d3d3;}
.homepage-carousel2 .category-title{top: 45%;bottom: 55%;position: absolute;width: 100%;}
.homepage-carousel2 .category-title span{font-size: 24px;background-color: rgba(187,183,183,0.6);padding: 10px 15px;color: #fff;font-weight: bold;}
.subscribe-to-newsletter i{font-size: 24px;}
.subscribe-to-newsletter input{width: 350px !important;border-radius: 0;padding: 5px 10px;margin-left: 15px;}
.subscribe-to-newsletter input:focus{border:1px solid #555;box-shadow: none;}
.subscribe-to-newsletter input::-webkit-input-placeholder{color: #d3d3d3;font-style: italic;}
.subscribe-to-newsletter input::-moz-placeholder{color: #d3d3d3;font-style: italic;}
.subscribe-to-newsletter input:-ms-input-placeholder{color: #d3d3d3;font-style: italic;}
.subscribe-to-newsletter input:-moz-placeholder{color: #d3d3d3;font-style: italic;}
.subscribe-to-newsletter a{padding: 7px 25px;border: 1px solid #cb4082;color: #000;text-decoration: none;margin-left: 10px;}

/*single product page*/
.product-breadcrumb{border-top: 1px solid #000;border-bottom: 1px solid #e0e0e0;padding: 10px 0px;}
.product-images-cont{border: 1px solid #d3d3d3;}
.product-images{border: 1px solid #d3d3d3;text-align: center;}
.product-images img{height: 100px !important;}
.product-content .promo-sidebar img{width: 100%;}
.product-content .product-title a{background-color: #75a3d7;color: #fff;padding: 10px;text-decoration: none;}
.product-content .product-price p{font-size: 18px;}
.product-content .product-details{border-top: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;}
.product-content .product-options .availability span{color: #43653b;font-weight: bold;}
.product-content .product-options{font-size: 18px !important;}
.product-content .product-options .size-option{padding: 3px 6px;border: 1px solid #3f3f3f;border-radius: 4px;font-size: 13px;}
.product-content .product-options .colour-option{padding:1px 10px;border: 1px solid #3f3f3f;border-radius: 4px;margin-right: 5px;}
.colour-option.black{background-color: #000;}
.colour-option.blue{background-color: #000080;}
.colour-option.grey{background-color: #cabdad;}
.add-to-bag{padding: 16px 20px;font-weight:bold;background-color: #333333;color: #fff;border: none;}
.product-details .panel-default .panel-heading{background-color: #fff;border: none;border-radius: 0;box-shadow: none;}
.product-details .panel-default{border: none;}
.product-details .panel-default .panel-heading a{text-decoration: none;font-weight: bold;}
.product-details .panel-default .panel-heading a span{text-align: right;}
.product-content .related-products-title{border-bottom: 1px dashed #a4a3a3;}
.product-content .related-product img{height: 150px;}
.product-content .related-product p{line-height: 0.5;}

.our-bestsellers-content .btn{border: 1px solid #fff;border-radius: 0;padding: 10px 30px;color: #fff !important;}
.btn-brown{background-color: #640000;}
.homepage-carousel2.owl-theme .owl-controls .owl-buttons div, .single-product-carousel.owl-theme .owl-controls .owl-buttons div {position: absolute;}
.homepage-carousel2.owl-theme .owl-controls .owl-buttons .owl-prev{left: 1%;top: 35%;}
.homepage-carousel2.owl-theme .owl-controls .owl-buttons .owl-next{right: 0.9%;top: 35%;}
.homepage-carousel2.owl-theme .owl-controls .owl-buttons .owl-prev, .homepage-carousel2.owl-theme .owl-controls .owl-buttons .owl-next{border-radius: 0px;background-color: #000;opacity: 1;font-size: 40px;}
.single-product-carousel .owl-item{padding: 0px 15px;}
.single-product-carousel.owl-theme .owl-controls .owl-buttons .owl-prev{left: 0%;top: 25%;}
.single-product-carousel.owl-theme .owl-controls .owl-buttons .owl-next{right: 0%;top: 25%;}
.single-product-carousel.owl-theme .owl-controls .owl-buttons .owl-prev, .single-product-carousel.owl-theme .owl-controls .owl-buttons .owl-next{background-color: rgba(0,0,0,0);color: #000;font-size: 25px;}

/*navbar*/
.digimeg-sub-nav{background-color: rgba(0,0,0,0.1);z-index: 2;}
.digimeg-sub-nav .row{padding: 30px;}
.digimeg-main-nav>li>a:hover{color: #fff !important;}
.digimeg-sub-nav .nav>li>a{color: #333 !important;}
.digimeg-sub-nav .nav>li>a:hover{color: #833333 !important;background-color: transparent;}
.digimeg-sub-nav .nav>li.subheader{font-size: 15px;border-bottom: 1px dotted #333;font-weight: bold;}
#our-brands-dropdown .our-brands-letter-pagination .nav>li{float: left;width: auto !important;}